In [40]:
#imports 
import requests
from pprint import pprint
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import os
import warnings
# Suppress FutureWarning messages
warnings.simplefilter(action='ignore', category=FutureWarning)

#database connection
import psycopg2 as psql 
from dotenv import load_dotenv
import os
import base64
import pprint

import finnhub

In [30]:
#get secrets from .env
load_dotenv()

api_key = os.getenv('API_KEY')

### Connect to API

### Nasa

#### Different api stuff to add

In [65]:
url = 'https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY'
#headers = { 'X-Auth-Token': api_key }

#esponse = requests.get(url, headers=headers)
response = requests.get(url)


#print(response) #response code 200: Good 400: Bad
jsonRes = response.json()
print(jsonRes)

{'date': '2024-06-24', 'explanation': 'What if we could see back to the beginning of the universe?  We could see galaxies forming.  But what did galaxies look like back then?  These questions took a step forward recently with the release of the analysis of a James Webb Space Telescope (JWST) image that included the most distant object yet discovered.  Most galaxies formed at about 3 billion years after the Big Bang, but some formed earlier. Pictured in the inset box is JADES-GS-z14-0, a faint smudge of a galaxy that formed only 300 million years after the universe started.  In technical terms, this galaxy lies at the record redshift of z=14.32, and so existed when the universe was only one fiftieth of the its present age.  Practically all of the objects in the featured photograph are galaxies.', 'hdurl': 'https://apod.nasa.gov/apod/image/2406/MostDistantGalaxy_Webb_960.jpg', 'media_type': 'image', 'service_version': 'v1', 'title': 'JADES-GS-z14-0: A New Farthest Object', 'url': 'https://apod.nasa.gov/apod/image/2406/MostDistantGalaxy_Webb_960.jpg'}

### Connect to DB

In [ ]:
#get secrets from .env
load_dotenv()

username = os.getenv('sql_user')
password = os.getenv('sql_pass')
host = os.getenv('host')

conn = psql.connect(database = 'pagila', 
                    user = username, 
                    host = host, 
                    password = password, 
                    port = 5432)

cur = conn.cursor()
SQL = """
CREATE TABLE IF NOT EXISTS student.mytable (

  my_id serial primary key,
  my_str varchar(50)
)
"""


cur.execute(SQL)
conn.commit()